{% include "layout/google-analytics.html" %}
{% include "layout/header.html" %}

{% load static %}
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   {% endcomment %}
<style>
	#requestpills > li { padding:5px !important; }  
	#requestpills > li > a { border-radius:50px !important; width:100% !important; padding:5px 20px !important; color:#00297a !important; text-decoration:none; border:2px solid #00297a !important; }  
    #requestpills > li.active > a { background-color: #00297a !important; color:#fff !important; }  
    #requestpills > li > a.active { background-color: #00297a !important; color:#fff !important; }  
    
    .requests_table > thead > tr > th { background-color: #00297a; color:#fff; padding:20px; }
     .addressp { padding-left:40px; }
     .reqtableimg { border-radius:50px; width:30px; height:30px; }
     td > .fa-eye { border-radius:100px; }
</style>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <ul class="nav nav-pills nav-justified" id="requestpills">
  <li id="rentbtn" onclick="rentclick()"  style="background-color: transparent !important;"><a class="active" data-toggle="pill" href="#home">Rent Requests</a></li>
  <li id="tourbtn" onclick="tourclick()" style="background-color: transparent !important;"><a data-toggle="pill" href="#menu1">Tour Requests</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active show" style="background-color: transparent !important;">
  <br><br>
	<table class="table table-striped requests_table">
    	<thead>
        	<tr>
                <th style="border-top-left-radius:10px !important;">Property Address</th>
            	<th>Name</th>
                <th>Move In & Move Out</th>
                <th style="border-top-right-radius:10px !important;">Action</th>
            </tr>
        </thead>
        <tbody>
        	{% for rentReq in rentRequest %}
            <tr>
                <td><a href="{% url 'property:propertyDetail' rentReq.propertyObj.urlSlug %}">{{rentReq.propertyObj.title}}</a></td>
            	<td>
                	<img class="reqtableimg" src="{{rentReq.studentObj.profilePicture.url}}" /> &nbsp;
                    <b>{{rentReq.studentObj.user.user.first_name|title}} {{rentReq.studentObj.user.user.last_name}}</b><br>
                	{% comment %} <p class="addressp">{{rentReq.propertyObj.title}}</p> {% endcomment %}
                </td>
                <td>{{rentReq.moveIn}} & {{rentReq.moveOut}}</td>
                <td><a href="{% url 'checkout:rentRequestDetail' rentReq.pk %}"><i class="fa fa-eye btn btn-success btn-sm" style="border-radius: 50px;"> View</i></a></td>
            </tr>
            {% endfor %}
            {% comment %} <tr>
            	<td>
                	<img class="reqtableimg" src="https://i.pinimg.com/736x/5c/24/69/5c24695df36eee73abfbdd8274085ecd--cute-anime-guys-anime-boys.jpg" /> &nbsp;
                    <b>Aravindan Sundaram</b><br>
                	<p class="addressp">23, Test Address Line, Coimbatore, TN</p>
                </td>
                <td><br>14-November-2020 08:30 AM</td>
                <td><br><i class="fa fa-eye btn btn-success btn-sm"> view</i></td>
            </tr>
            <tr>
            	<td>
                	<img class="reqtableimg" src="https://i.pinimg.com/736x/5c/24/69/5c24695df36eee73abfbdd8274085ecd--cute-anime-guys-anime-boys.jpg"/> &nbsp;
                	<b>Arun Prakash</b><br>
                	<p class="addressp">34, Test Address Line, Coimbatore, TN</p>
               	</td>
                <td><br>13-November-2020 10:30 AM</td>
                <td><br><i class="fa fa-eye btn btn-success btn-sm"> View</i></td>
            </tr> {% endcomment %}
        </tbody>
    </table>
  </div>
  <div id="menu1" class="tab-pane fade" style="background-color: transparent !important;">
    <br><br>
	<table class="table table-striped requests_table">
    	<thead>
        	<tr>
                <th style="border-top-left-radius:10px !important;">Property Address</th>
            	<th>Name</th>
                <th>Preference Date | Time</th>
                <th style="border-top-right-radius:10px !important;">Action</th>
            </tr>
        </thead>
        <tbody>
        	{% for tourReq in tourRequest %}
            <tr>
                <td><a href="{% url 'property:propertyDetail' tourReq.propertyObj.urlSlug %}">{{tourReq.propertyObj.title}}</a></td>
            	<td>
                	<img class="reqtableimg" src="{{tourReq.studentObj.profilePicture.url}}" /> &nbsp;
                    <b>{{tourReq.studentObj.user.user.first_name|title}} {{tourReq.studentObj.user.user.last_name}}</b><br>
                	<!-- <p class="addressp">{{tourReq.propertyObj.title}}</p> -->
                </td>
                <td>{{tourReq.preference1Date}} {{tourReq.preference1Time}}</td>
                <td><a href="{% url 'checkout:tourRequestDetail' tourReq.pk %}"><i class="fa fa-eye btn btn-success btn-sm" style="border-radius: 50px;"> View</i></a></td>
            </tr>
            {% endfor %}
            {% comment %} <tr>
            	<td>
                	<img class="reqtableimg" src="https://i.pinimg.com/736x/5c/24/69/5c24695df36eee73abfbdd8274085ecd--cute-anime-guys-anime-boys.jpg" /> &nbsp;
                    <b>Aravindan Sundaram</b><br>
                	<p class="addressp">23, Test Address Line, Coimbatore, TN</p>
                </td>
                <td><br>14-November-2020 08:30 AM</td>
                <td><br><i class="fa fa-eye btn btn-success btn-sm"> view</i></td>
            </tr>
            <tr>
            	<td>
                	<img class="reqtableimg" src="https://i.pinimg.com/736x/5c/24/69/5c24695df36eee73abfbdd8274085ecd--cute-anime-guys-anime-boys.jpg"/> &nbsp;
                	<b>Arun Prakash</b><br>
                	<p class="addressp">34, Test Address Line, Coimbatore, TN</p>
               	</td>
                <td><br>13-November-2020 10:30 AM</td>
                <td><br><i class="fa fa-eye btn btn-success btn-sm"> View</i></td>
            </tr> {% endcomment %}
        </tbody>
    </table>
  </div>
</div>
</div>
<br>
<br>
<!-- <script>
    function rentclick()
    {
        $("#rentbtn > a").css({"background-color":"#002974", "border":"2px solid #002974"});
        $("#tourbtn > a").css({"background-color":"#fff", "border":"2px solid #002974"});
    }

    function tourclick()
    {
        $("#tourbtn.active > a").css({"background-color":"#002974 !important", "border":"2px solid #002974"});
        $("#rentbtn > a").css({"background-color":"#fff", "border":"2px solid #002974"});
    }
</script> -->

{% include "layout/footer.html" %}