.help-container{
    display: flex;
}
.help {
    color:#716d6d;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.help:hover {
    cursor: help;
}
.helptext {
    display: none;
}
.help:hover + .helptext{
    display: block;
}
.utilitiesCheckbox{
    width:15px; 
    height:15px; 
    border-radius:10px;
}
.utiltiesExpand {
    padding-left:25px;
    width:65px; 
    height:33px; 
    border-radius:10px; 
    background-color:rgba(255, 255, 255, 0.5); 
    border:1px solid #e2e2e2;
}
.checkbox.custom-checkbox input[type="checkbox"] {
    position: inherit !important;
}
.imageDescriptionBox {
    height: 40px !important;
    padding: 10px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.videoDescriptionBox {
    width: 91%!important;
    padding: 10px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.danger{
    color: #ec0a0a;
    font-size: 20px;
    padding-left: 5px;
}
.add_new{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.fa.fa-thumbs-o-down:hover {
    color:red;
}
.fa.fa-thumbs-o-up:hover {
    color:green;
}
.thumbs-o-up {
    color:green !important;
}
.thumbs-o-down {
    color:red !important;
}