.dropbtn {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #c96b00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 114px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(201, 107, 0, 0.2);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c96b00;
}