{% include "layout/header.html" %}
<div class="pxp-content">
    <div class="pxp-agents" style="margin-top: 75px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 m-auto">
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #2f7fe9; color: #fff;">
                            <h3>Change Password</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12 m-auto">
                                <form class="form-group" action="" method="POST">
                                    {% csrf_token %}
                                    {% load bootstrap3 %}
                                    {% for field in passChangeForm %}
                                        {% if field.help_text %}
                                        Instructions for valid password<span class="fa fa-info-circle help" data-toggle="tooltip" title="{{field.help_text|striptags}}"></span>
                                        {% endif %}
                                        {% bootstrap_field field show_label=False show_help=False %}
                                    {% endfor %}
                                    <button class="btn btn-success" id="phone_number_submit_button" type="submit">Change</button>
                                </form>
                            </div>
                        </div>
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include "layout/footer.html" %}